@import url('https://fonts.googleapis.com/css?family=Roboto');

.App{
  padding: 15px;
  padding-bottom: 60px;
}

.submit-all-tests-button {
  width: 200px;
  display: block;
  border: 2px solid #8dc169;
  background: #8dc169;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.submit-all-tests-button:hover {
  color: #8dc169;
  background: white;
}